<!DOCTYPE html>
<html>
<head>
    <title>Account - ADD</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    Email: <input name="email" type="text" />
    <br/>
    First Name: <input name="first_name" type="text" />
    <br/>
    Last Name: <input name="last_name" type="text" />
    <br/>

    <input type="submit" />

</form>
</body>
</html>