<!DOCTYPE html>
<html>
    <head>
        <title>Skills - Add</title>
    </head>
    <body>
        <h1>Add New Skill</h1>
        <form action="/skills/insert" method="get" >
            Skill Name: <input name="skill_name" type="text" />
            Skill description: <input name="description" type="text" />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>