<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> <%= subtitle%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
    <br /><a href="/staticfile.html">Relative Link Example</a>
    <br /><a href="http://localhost:3000/staticfile.html"> Absolute Link Example</a>
    <br /><a
     href="/resume_view?first_name=Manthan&last_name=Gajjar&major=CES">Resume<b>
     </a>
    <p>Welcome to <%= title %> <%= subtitle%></p>
    <br /><a
     href = " /template_example?first_name=Manthan&last_name=Gajjar"> Template Example
     </a>


  </body>
</html>
