<!DOCTYPE html>
<html>
    <head>
        <title> Address - Edit</title>
    </head>
    <body>
        <h1> Edit Address </h1>
        <form action="/address/update" method="get" >

         <input type="hidden"
                 id="address_id"
                 name="address_id"
                 value="<%= address.address_id %>"
            />
            <br />
            Street: <input
                    id = "street"
                    name = "street"
                    type= "text"
                    value="<%= address.street %>"
            />
            <br />
            Zip code: <input
                    id = "zip_code"
                    name = "zip_code"
                    type= "text"
                    value="<%= address.zip_code %>"
            />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>