<!DOCTYPE html>
<html>
<head>
    <title> School - View All</title>
</head>
    <body>
        <h1><a href="/school/add">Add New School</a> <br/></h1>

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; schools.length > i; i++ ) { %>
            <tr>
                <td>
                    <a href="/school/?school_id=<%= schools[i].school_id %>">
                        <%= schools[i].school_name %>
                    </a>
                </td>
                <td>
                    <a href='/school/edit/?school_id=<%= schools[i].school_id %>'>
                        Edit
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </body>
</html>